<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MulticastNetworking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MulticastNetworking.Properties.Settings>
            <setting name="MulticastIP" serializeAs="String">
                <value>239.224.78.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>12399</value>
            </setting>
            <setting name="TTL" serializeAs="String">
                <value>1</value>
            </setting>
        </MulticastNetworking.Properties.Settings>
    </userSettings>
</configuration>